.Filters {
    margin: 1em 0;
}

.Filters select {
    background-color: #FFFFFF;
    border: 1px solid #B9C6E0;
    caret-color: #B9C6E0;

    /* margin: 0 1em; */
    padding: 0.5em 1em;
    width: 200px;

    cursor: pointer;
}

.Filters select:focus {
    outline: none;
}

.Filters span {
    margin: 1em;
}

.Filters * {
    display: inline-block;
}