#section-tutors {
	min-height: 75vh;
	padding-top: 100px;
	min-width: 100%;
	max-width: 100%;
	margin: 0 auto;

	.wrapper {
		grid-column: 2;

		.section-title {
			display: flex;
			align-items: center;
		}
	}

	.filters {
		display: flex;
		justify-content: space-between;
		width: 90%;
		.filter {
			.title {
				padding: 1em 0 1em 0;
				text-align: center;
			}
		}

		#filter-submit {
			padding-top: 1em;
			display: flex;
			align-items: center;
		}

		select {
			background-color: #ffffff;
			border: 2px solid #ececec;
			caret-color: #b9c6e0;
			border-radius: 5px;
			height: 40px;
			/* margin: 0 1em; */
			padding: 0.5em 1em;
			width: 300px;

			cursor: pointer;

			&:focus {
				outline: none;
			}
		}

		.filter--2 {
			width: 100%;
		}

		span {
			margin: 1em;
		}
	}
}

.section--wrapper .section--wrapper-title {
	display: flex;
	align-items: center;
}

.review-website-button {
	width: fit-content;
	margin: 40px 0 auto auto;
}

@media (max-width: 1180px) {
	.filters {
		flex-direction: column;
	}

	.filter {
		margin: auto;
	}
	// .filters #filter-submit {
	// 	width: 100%;
	// 	justify-content: flex-end;
	// }
}

.filters,
.filter--2,
.section-title {
	margin: 0px 5%;
}
