.Filters {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  text-align: center;

  #filter-submit {
    display: flex;
    align-items: center;
  }

  select {
    background-color: #ffffff;
    border: 2px solid #ececec;
    caret-color: #b9c6e0;
    border-radius: 5px;
    height: 40px;
    /* margin: 0 1em; */
    padding: 0.5em 1em;
    width: 300px;

    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  span {
    margin: 1em;
  }

  div:nth-child(2n + 2) {
    width: 850px;
  }
}

.section--wrapper .section--wrapper-title {
  display: flex;
  align-items: center;
}

.review-website-button {
  width: fit-content;
  margin: 40px 0 auto auto;
}

@media (max-width: 1790px) {
  .Filters > div:nth-child(2n + 2) {
    width: 600px;
  }
}

@media (max-width: 1460px) {
  .Filters > div:nth-child(2n + 2) {
    width: 400px;
  }
}

@media (max-width: 1180px) {
  .Filters {
    flex-wrap: wrap;
  }

  .Filters #filter-submit {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 950px) {
  .Filters > div:nth-child(2n + 2) {
    width: 350px;
  }
}

@media (max-width: 850px) {
  .Filters > div:nth-child(2n + 2) {
    width: 100%;
  }

  .Filters > div,
  .Filters select {
    width: 100%;
  }

  .Filters > div {
    justify-content: center;
  }

  .section--wrapper .section--wrapper-title img {
    display: none;
  }

  .section--wrapper .section--wrapper-title {
    justify-content: center;
  }

  .Filters #filter-submit {
    justify-content: center;
  }
}
