.title-component {
	font-size: 3em;
	font-weight: bold;
	color: #06255d;
}

@media (max-width: 550px) {
	.title-component {
		font-size: 2.5em;
	}
}

@media (max-width: 800px) {
	.title-component {
		text-align: center;
	}
}
