.form-list-wrapper {}

.form-list-wrapper .add {
    text-decoration: none;
    color: #000000;
}

.form-list-wrapper .add i {
    color: green;
}

.form-list-wrapper .remove {
    text-decoration: none;
    color: #000000;
}

.form-list-wrapper .remove i {
    color: red;
}

.form-list {
    padding: 0;
    margin: 0.5em 0;
}

.form-list-item {
    margin: 0.5em auto;
    list-style-type: none;
}

.form-list-item input {
    margin: auto 0.25em auto auto;
}