.profile-section {
    display: grid;
    align-items: start;
    grid-template-columns: minmax(10vw,1fr) minmax(0,var(--content-max-width)) minmax(10vw,1fr);
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
}

.profile-section .profile-section--wrapper {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.profile-section .profile-section--wrapper .profile-section--wrapper__upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.profile-section .profile-section--wrapper .profile-section--wrapper__upper--left {
    border-radius: 200px;
    height: 300px;
    width: 300px;
    background: url("../../Assets/gaurav-img-test.png") no-repeat center;
    background-size: cover;
    align-self: center;
}

.profile-section .profile-section--wrapper .profile-section--wrapper__upper--center p span {
    color: #FF5E84;
    font-weight: 600;
}

.profile-section .profile-section--wrapper .profile-section--wrapper__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-section .profile-section--wrapper .profile-section--wrapper__reviews a{
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    background-color: #FF5E84;
    border-radius: 50px;
    padding: 10px 25px;
}


.profile-section--wrapper .profile-section--wrapper__loading {
    -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 2s infinite;
    align-self: center;
}

/* Standard syntax */
@keyframes mymove {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}