.Tutor-Cards-Component {
  list-style-type: none;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  grid-gap: 2.2rem;
}

@media (max-width: 400px) {
  .Tutor-Cards-Component {
    grid-template-columns: 1fr;
  }
}
