.Tutor-Cards-Component {
	list-style-type: none;
	width: 90%;
	display: -webkit-flex;
	margin: 0px 5%;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

@media (max-width: 400px) {
	.Tutor-Cards-Component {
		grid-template-columns: 1fr;
	}
}
