.Form-Slider-Component {
	margin-bottom: 1em;
	vertical-align: top;
	width: 100%;
}

.Form-Slider-Component .slider {
	-webkit-appearance: none;
	width: 100%;
	border-radius: 50px;
	background: #ececec;
	outline: none;
	height: 40px;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	padding: 0;
	position: relative;
	margin: 0;
}

/* 
.Form-Slider-Component .slider::after {
	content: "";
	position: absolute;
	width: 1px;
	left: 0;
	height: 100%;
	top: 0px;
	box-shadow: 75px 0 0 #ff5e84, 150px 0 0 #ff5e84, 225px 0 0 #ff5e84,
		300px 0 0 #ff5e84, 375px 0 0 #ff5e84, 450px 0 0 #ff5e84, 525px 0 0 #ff5e84,
		600px 0 0 #ff5e84, 675px 0 0 #ff5e84;
} */

.Form-Slider-Component .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fc6472;
	cursor: pointer;
}

.Form-Slider-Component .slider::-moz-range-thumb {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fc6472;
	cursor: pointer;
}

.Form-Slider-Component .label {
	text-align: center;
	display: block;
}

.Form-Slider-Component .label span {
	margin: 0;
}

@media (max-width: 1150px) {
	.Form-Slider-Component .slider {
		width: 100%;
	}
}
