.Form-Slider-Component {
    margin-bottom: 1em;
}

.Form-Slider-Component .slider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0 auto;
    padding: 0;
}

.Form-Slider-Component .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF5E84;
    cursor: pointer;
}

.Form-Slider-Component .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF5E84;
    cursor: pointer;
}

.Form-Slider-Component .label {
    display: block;
    position: absolute;
    width: 200px;
    text-align: center;
}

.Form-Slider-Component .label span {
    margin: 0;
}