.review-section {
	display: grid;
	align-items: start;
	grid-template-columns: minmax(10vw, 1fr) minmax(0, var(--content-max-width)) minmax(
			10vw,
			1fr
		);
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	grid-template-rows: auto 1fr;
}

.review-section .review-section--wrapper {
	grid-column: 2;
	display: flex;
	flex-direction: column;
}

.review-section .review-section--wrapper textarea {
	width: 100%;
	height: 200px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.28);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.28);
	border: none;
	margin-bottom: 2em;
	font-size: 18px;
	box-sizing: border-box;
	padding: 20px;
}

.review-section
	.review-section--wrapper
	.review-section--bookagain
	label:nth-child(1) {
	margin-right: 4em;
}

.review-section .review-section--wrapper button {
	align-self: flex-end;
	border-radius: 2000px;
	border: 1px solid #ff5e84;
	background-color: #ff5e84;
	color: white;
	box-sizing: border-box;
	padding: 15px 30px;
	margin-bottom: 2em;
	cursor: pointer;
}

.review-title {
	margin-top: 40px;
	margin-bottom: 40px;
}

.review-section .review-section--bookagain {
	display: flex;
	align-items: center;
}

.review-section .review-section--bookagain > label {
	padding-right: 20px;
}

.review-section .review-section--bookagain > input {
	margin-right: 10px;
}

.review-section .review-section--tutored-classes {
	display: flex;
	align-items: center;
}

.review-section .review-section--tutored-class {
	display: flex;
	align-items: center;
}

.review-section--tutored-class > label {
	padding-right: 20px;
}

.review-section--tutored-class > input {
	margin-right: 10px;
}

.review-section--about {
  margin-top: 30px;
  margin-bottom: 5px;
}

.review-section--book-again,
.review-section--book-again > div{
  margin-top: 15px;
}

.review-section--class-tutored > h1 {
  margin-bottom: 15px;
}

.comment-textarea {
  resize: none;
}

@media (max-width: 750px) {
	.review-section .review-section--bookagain > label {
		font-size: 11px;
	}
}

/* OPTION A */
/* 
@media (max-width: 420px) {
	.review-section .review-section--wrapper {
		grid-column: 1/4;
		margin: 0 10px;
	}
} */
