.tutorcard-component {
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
  box-sizing: border-box;
}

.tutorcard-component img {
  width: 100%;
  border-radius: 7px 7px 0 0;
  height: 250px;
  object-fit: cover;
}

.tutorcard-component .tutorcard-component--content {
  width: 90%;
  margin: 0 auto;
}

.tutorcard-component .tutorcard-component--content p {
  color: #06255d;
  font-size: 1.2em;
}

.tutorcard-component
  .tutorcard-component--content
  .tutorcard-component--content__description {
  color: #777777;
  font-size: 1em;
}

.tutorcard-component
  .tutorcard-component--content
  .tutorcard-component--content__more div {
    display: flex;
  }
  
.tutorcard-component
  .tutorcard-component--content
  .tutorcard-component--content__more p {
    margin: 0;
    margin-right: 10px;
  }

  .tutorcard-component
  .tutorcard-component--content
  .tutorcard-component--content__more img {
    height: auto;
    width: auto;
    object-fit: none;
  }

.tutorcard-component
  .tutorcard-component--content
  .tutorcard-component--content__more {
    display: flex;
    justify-content: space-between;
    align-items: end;
  } 

.tutorcard-component .tutorcard-component--content a {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  background-color: #ff5e84;
  border: 1px solid #ff5e84;
  padding: 6px 20px;
  margin-bottom: 1em;
  font-size: 0.8em;
  box-sizing: border-box;
  display: inline-block;
}

.tutorcard-component--wrapper {
  padding: 0;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2.2rem;
}

@media (max-width: 400px) {
  .tutorcard-component--wrapper {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}
