.navbar-component {
  grid-column: 1/4;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: minmax(10vw, 1fr) minmax(0, var(--content-max-width)) minmax(10vw, 1fr);
  box-sizing: border-box;
  padding: 8px 0;
  background-color: #ffffff;
  width: 100%;
  height: 70px;

  .navbar-component--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    grid-column: 2;

    .logo-notext {
      display: none;
    }
  }
}

.sticky {
  position: fixed;
  z-index: 999;
}

@media (max-width: 550px) {
  .navbar-component .navbar-component--wrapper {
    justify-content: space-between;
    flex-direction: row;
  }

  .navbar-component .navbar-component--wrapper a img {
    display: none;
  }

  .navbar-component .navbar-component--wrapper .logo-notext {
    display: block;
  }
}
