.course-component {
  -webkit-box-shadow: 0px 2px 6px 0px rgba(47, 83, 151, 0.1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(47, 83, 151, 0.1);
  box-shadow: 0px 2px 6px 0px rgba(47, 83, 151, 0.1);
  border: 1px solid #ececec;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 30px;
  color: #06255d;
  margin-right: 15px;
  margin-bottom: 10px;
}

@media (max-width: 1400px) {
  .course-component {
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  .course-component {
    width: 110px;
    text-align: center;
  }
  .course-component-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .course-component-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
