.CourseInput-component {
	margin-bottom: 20px;
	text-transform: capitalize;
}

.CourseInput-component .CourseInput-component--wrapper-container {
	display: flex;
	align-items: center;
}

.CourseInput-component .CourseInput-component--wrapper-container label {
	margin: 0 30px 0 10px;
}

.CourseInput-component .CourseInput-component--wrapper {
	display: flex;
	flex-wrap: wrap;
}
