@media only screen and (min-width: 1400px) {
    .Tutor-Cards-Component {
        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
}

@media only screen and (max-width: 1400px) {
    .Tutor-Cards-Component {
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .Tutor-Cards-Component {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
}

@media only screen and (max-width: 480px) {
    .Tutor-Cards-Component {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
}