.App {
    display: grid;
    align-items: start;
    grid-template-columns: minmax(10vw,1fr) minmax(0,var(--content-max-width)) minmax(10vw,1fr);
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
}

.App-wrapper {
    grid-column: 2;
}

:root {
    --content-max-width: 90rem;
    --grid-gap: 3.8rem;
}