.Tutor-Card-Partial-Component {
	-webkit-box-shadow: 0px 2px 8px 0px rgba(47, 83, 151, 0.1);
	-moz-box-shadow: 0px 2px 8px 0px rgba(47, 83, 151, 0.1);
	box-shadow: 0px 2px 8px 0px rgba(47, 83, 151, 0.1);
	border-radius: 7px;
	box-sizing: border-box;
	max-width: 350px;
	padding-bottom: 1em;
	border: 1px solid #ececec;
}

.Tutor-Card-Partial-Component > img {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	object-fit: cover;
	display: block;
	margin: 20px auto;
}

.Tutor-Card-Partial-Component .content {
	width: 90%;
	margin: 0 auto;
}

.Tutor-Card-Partial-Component .content .full-name {
	color: #06255d;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

.Tutor-Card-Partial-Component .content .bio {
	color: #06255d;
	font-size: 1em;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.Tutor-Card-Partial-Component .content .bio li {
	padding: 5px;
	margin: 0 5px 5px 0;
	border-radius: 5px;
	width: 65px;
	box-sizing: border-box;
}

.Tutor-Card-Partial-Component .content .bio .tooltip {
	/* -webkit-box-shadow: 0px 5px 10px 0px rgba(252, 100, 114, 0.5);
	-moz-box-shadow: 0px 5px 10px 0px rgba(252, 100, 114, 0.5);
	box-shadow: 0px 5px 10px 0px rgba(252, 100, 114, 0.5); */
	background-color: #fc6472;
	text-align: center;
	width: 50px;
	margin-left: 10px;
	color: white;
}

.Tutor-Card-Partial-Component .bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.Tutor-Card-Partial-Component .bottom a {
	text-decoration: none;

	/* border-radius: 4px;
	background-color: #ff5e84;
	border: 1px solid #ff5e84;
	padding: 6px 20px;
	box-sizing: border-box;
	display: inline-block; */
}

.Tutor-Card-Partial-Component .rating,
.Tutor-Card-Partial-Component .more {
	display: flex;
	align-items: center;
}

.Tutor-Card-Partial-Component .rating span,
.Tutor-Card-Partial-Component .bottom a {
	color: #98a0a6;
	font-size: 1.2em;
}
.Tutor-Card-Partial-Component .bottom img {
	margin-right: 10px;
}

.tooltip {
	position: relative;
}

.tooltip .tooltip-content {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	background-color: #eeeeee;
	padding: 5px;
	top: 0;
	left: 120%;
	color: #06255d;
	/* border: 1px black solid; */
	box-shadow: 3px 3px 8px #ccc;
	opacity: 0;
	transition: 0.8s;
}

.tooltip:hover .tooltip-content {
	visibility: visible;
	opacity: 1;
}

@media (max-width: 1227px) {
	.Tutor-Card-Partial-Component {
		max-width: 400px;
		margin: 0 auto;
	}
}

@media (max-width: 550px) {
	.Tutor-Card-Partial-Component {
		max-width: 100%;
	}
}
