.stats-component .stats-component--feature {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-column-gap: 25px;
  width: 90%;
  margin-bottom: 20px;
}

.stats-component .stats-component--feature p {
  margin: 0;
  width: 120px;
}

.stats-component .stats-component--feature .stats-component--feature__wrapper {
  background-color: #f0f2f8;
  /* width: 90%; */
  border-radius: 4px;
}

.stats-component .stats-component--feature .stats-component--feature__progress {
  background-color: #ff5e84;
  /* width: 20%; */
  height: 100%;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .stats-component .stats-component--feature {
    margin-left: 5%;
  }
}

@media (max-width: 500px) {
  .stats-component .stats-component--feature {
    grid-template-columns: auto;
    grid-row-gap: 20px;
    grid-template-rows: 1fr 1fr;
  }
}
