#login-box{
    
    display: grid;
    grid-template-columns: minmax(40px,1fr) minmax(250px,50vh) minmax(300px,63vh) minmax(40px,1fr);
    position: fixed;
    width: 100vw;
    height: 70vh;
    top: 15vh;
}
#login-box #login-picture{
    background: url("./LoginPicture.jpg") center;
    background-size: cover;
    grid-column:2/3;
}
#login-box #login-form{
    background:white;
    
    grid-column: 3/4;
    align-self: center;

    height:90%;
    width:100%;
    display: grid;
    grid-template-rows: 0px repeat(4, 18%) 0px;
    grid-row-gap: 4%;
    align-items: center;
    justify-items: center;
}


#login-box #login-form #login-form-title{
    grid-row:2/3;  
    font-size: 20px;
    opacity: 0.6;
    #login-box #login-form #login-form-button button:hover{
        border: 3px;
        background-color:rgb(240,0,120);
        cursor: pointer;
        color:white;
        size:50%;
    }    
}

#login-box #login-form #login-form-username{
    grid-row:3/4;
    height:100%;
    width:60%;
    
}
#login-box #login-form #login-form-username input{
    height:90%;
    border:solid 2px pink;
    border-radius: 0.3rem;
    width:100%;
    padding-left:10px;
    
}
#login-box #login-form #login-form-password{
    grid-row:4/5;
    height:100%;
    width:60%;
}
#login-box #login-form #login-form-password input{
    height:90%;
    border:solid 2px pink;
    border-radius: 0.3rem;
    width:100%;
    padding-left:10px;
}
#login-box #login-form #login-form-button{
    grid-row:5/6;
    width:60%;
    height:90%;
}
#login-box #login-form #login-form-button button{
    width:100%;
    height:100%;
    border:solid 2px pink;
    border-radius: 0.3rem;
    padding-left:10px;
    background:white;
}
#login-box #login-form #login-form-button button:hover{
    border: 3px;
    background-color:rgb(240,0,120);
    cursor: pointer;
    color:white;
    size:50%;
}

@media (max-width: 600px) {
    #login-box{
        grid-template-columns: 1fr;
        grid-template-rows:50% 50%;
        top:0px;
        height:100%;
    }
    #login-box #login-picture{
        grid-column:1/2;
        grid=rows:1/2;
    }
    #login-box #login-form{
        grid-column: 1/2;
        grid-rows:2/3;
    }
    
    #login-box #login-form #login-form-button button{
        width:100%;
        height:100%;
        border:solid 2px pink;
        border-radius: 0.3rem;
        padding-left:10px;
        border: 3px;
        background-color:rgb(240,0,120);
        cursor: pointer;
        color:white;
        size:50%;
    }
}