#login-box{
    background: lightgray;
    display: grid;
    grid-template-columns: 2fr 3fr;
    position: fixed;
    width: 90vw;
    height: 50vh;
    top: 25vh;
    left:5vw;
    
}
#login-box #login-picture{
    background:black
}
@media (min-width:500px){
    #login-box{
        width:60vw;
        left:20vw;
    }
}